/*-------------- main-menu -----------------*/
.main-menu{
	&,
	&__item{
		@include reset-list;
	}

	&{
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}

	&__link{
		display: inline-block;
		@include font(none, none, 1.6rem, 1.2, var(--color-text));
		text-decoration: none;
		padding: 0 0 16px;
		position: relative;
		transition: color 0.2s ease 0s;
	}

	&__item.active &__link,
	&__link:hover{
		color: var(--color-primary-dark);
		text-decoration: none;
	}

	&__link::after{
		content: '';
		display: block;
		width: 100%;
		height: 4px;
		background: var(--color-primary-dark);
		opacity: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		transition: opacity 0.2s ease 0s;
	}

	&__item.active &__link::after,
	&__link:hover::after{
		opacity: 1;
	}
}