/*-------------- switch -----------------*/
.switch{
	display: inline-flex;
	align-items: center;
	gap: 16px;

	input[type="checkbox"]{display: none;}

	&__label{margin: 0;}

	&__text{
		@include font(none, none, 1.4rem, 1.3, var(--color-green));
		
		&.active{
			color: inherit;
			text-decoration: underline;
		}
	}

	&__content{
		display: block;
		width: 41px;
		height: 20px;
		border-radius: 10px;
		background: #f1f6ff;
		box-shadow: inset 0px 1px 2px rgba(79, 123, 245, 0.3);
		position: relative;
		cursor: pointer;
	} 

	&__marker{
		display: inline-block;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background: linear-gradient(320.4deg, #84FF5B -4.72%, #5B9EFF 81.32%), linear-gradient(320.4deg, #84FF5B -4.72%, #066BFF 81.32%);
		position: absolute;
		@include top-center;
		left: 2px;
		transition: left 0.3s ease;
	}

	input[type="checkbox"]:checked + &__content &__marker{left: calc(100% - 18px);}
}
