/*-------------- unwrap-block -----------------*/
.unwrap-block{
	position: relative;
	margin-left: 46px;
	background: rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(73, 96, 165, 0.2);

	&::after{
		content: '';
		display: block;
		width: 3px;
		height: 0;
		background: var(--color-primary);
		position: absolute;
		top: 0;
		left: -46px;
		transition: height 0.3s ease 0s;
	}

	&__head{
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		@include font(none, bold, 1.8rem, 1.375, var(--color-dark));
		padding: 40px 32px 38px 37px;
		position:relative;
		cursor: pointer;
	}

	&__arr{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 2px solid var(--color-primary);
		transition: all 0.3s ease 0s;
		
		.icon{
			fill: var(--color-primary);
			transition: fill 0.3s ease 0s;
		}
	}

	&.opened{
		background: #fff;
		box-shadow: 0px 4px 20px rgba(8, 39, 131, 0.1);
		border-radius: 10px;
	}

	&.opened &__arr{transform: rotate(180deg);}
	&.opened::after{height: 100%;}

	&__content{
		display: none;
		padding: 0 32px 48px 37px;
		margin-top: -18px;
		
		p:last-child{margin-bottom: 0;}
	}
}

@media (min-width: 768px) {
	.unwrap-block{
		&__arr:hover,
		&.opened &__arr{
			background: var(--color-primary);
			.icon{fill: #fff;}
		}
	}
}

@media (max-width: 767px) {
	.unwrap-block{
		margin-left: 12px;

		&::before{
			content: '';
			display: block;
			width: 3px;
			height: 100%;
			background: linear-gradient(0deg, #4960A5, #4960A5), linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
			opacity: 0.3;
			position: absolute;
			top: 0;
			left: -12px;
		}

		&__title{
			font-size: 1.6rem;
			line-height: 1.5;
		}

		&__arr{border: none;}

		&__head{
			align-items: flex-start;
			gap: 5px;
			padding: 25px 8px 22px 22px;
		}

		&__content{
			padding: 0 22px 27px;
			margin-top: -8px;
		}
	}
}