extends ../layout/main

block variables
	- var title = 'О компании';
	- var h1 = 'О компании';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'О компании'},
		];

	+breadcrumbs(breadcrumbs)

block content
	section.mb-indent
		.container
			.row
				.col-lg-12
					.mb-indent
						picture
							source(srcset='/assets/img/about-mob.jpg' media='(orientation: portrait)')
							img.img-border(src='/assets/img/about.jpg' alt='')

					h2 Текстовый блок
					p Ошибки в финансовой сфере допускают многие люди. Но иногда такие ошибки приводят к полному финансовому краху. О том, что пора менять отношение к деньгам и финансовые привычки, говорят 5 признаков, описанных ниже.

					h2 Участие в проведении процедур государственной аккредитации (H2)
					p Полномочия Института в качестве экспертной <a href="#">Ссылка</a> в тексте организации для проведения аккредитационной экспертизы в рамках Государственной аккредитации образовательной деятельности установлены Распоряжением Федеральной службы по надзору в сфере образования и науки №1093-06 от 11 июля 2018 года.
					p
						a(href="#") Ссылка
							+svg('ic-arrow-right','ic-arrow-right', '14', '11')

					h3 Участие в проведении процедур государственной аккредитации (H3)
					p Микрозаём — это небольшой кредит наличными, выдаваемый микрокредитными организациями. Больше всего такой вид займа подходит для потребительских нужд, когда деньги требуются срочно и нет возможности у кого-либо взять в долг до зарплаты. Микрозаймы выдаются на непродолжительные сроки и на максимально упрощенных условиях.

					ol
						li Вина за большие расходы. Если каждая покупка вызывает у вас чувство вины, это указывает на неправильный подход к планированию бюджета или зацикленность на денежном вопросе. Такой подход приведет к тому, что вы попросту перестанете покупать даже нужные товары.
						li Пристрастие к чрезмерным расходам. Это абсолютно противоположная крайность. Если вы тратите последние деньги на то, что вам не нужно, тогда пришло время отказаться от мимолетных желаний. Иначе вам никогда не избавиться от кредитов и жизни в долг.
						li Чувство раздражения при разговоре о деньгах. Избегаете обсуждать финансовые темы? Это тоже указывает на проблемы и “плохие отношения” с финансами. Разберитесь в их истоках и подумайте, почему у вас сложились такие отношения с деньгами.
						li Чувство раздражения при разговоре о деньгах. Избегаете обсуждать финансовые темы? Это тоже указывает на проблемы и “плохие отношения” с финансами. Разберитесь в их истоках и подумайте, почему у вас сложились такие отношения с деньгами.


	include ../components/rating
