extends ../layout/main

block variables
	- var title = 'Отделения';
	- var h1 = 'Отделения';
	- var bg = 'bg-light-blue';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'Отделения'},
		];

	+breadcrumbs(breadcrumbs)

block content
	section.pb-indent.bg-light-blue.last-elem
		.container
			.row
				.col-12
					.branches
						.branches__content
							.branches__list
								-
									var list=[
										{title:'ДО «Вологда-площадь Возрождения»'},
										{title:'ДО «Архангельск-Поморский»'},
										{title:'ДО «Архангельск-Поморский»'},
									]
								each item in list
									.branches-item.js-branches-item
										.branches-item__top.js-branches-item-top
											.branches-item__main
												.branches-item__icon
													svg(width='26' height='32' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg')
														path(fill-rule='evenodd' clip-rule='evenodd' d='M8 20C8 20 16 15 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 15 8 20 8 20ZM8 11C9.65685 11 11 9.65685 11 8C11 6.34315 9.65685 5 8 5C6.34315 5 5 6.34315 5 8C5 9.65685 6.34315 11 8 11Z' fill='#4B60A6')
														path(fill-rule='evenodd' clip-rule='evenodd' d='M8 20C8 20 16 15 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 15 8 20 8 20ZM8 11C9.65685 11 11 9.65685 11 8C11 6.34315 9.65685 5 8 5C6.34315 5 5 6.34315 5 8C5 9.65685 6.34315 11 8 11Z' fill='url(#paint0_linear_40_7150)')
														defs
															lineargradient#paint0_linear_40_7150(x1='8' y1='0' x2='8' y2='20' gradientUnits='userSpaceOnUse')
																stop(stop-color='#6FCF97')
																stop(offset='1' stop-color='#66D2EA')

												.branches-item__main-content
													.branches-item__label Офис
													.branches-item__title= item.title
											
											.branches-item__arr
												+svg('ic-arrow-down','ic-arrow-down', '18', '11')

										.branches-item__content.js-branches-item-content
											.branches-info
												.branches-info__item
													.branches-info__text 164522, Архангельская обл., г. Северодвинск, ул. Трухинова, д.6а, пом. 3-Н

												.branches-info__item
													.branches-info__label Телефон:
													.branches-info__text
														a(href="tel:+79116812208") 8 (911) 681-22-08
														br
														a(href="tel:+79116812208") 8 (911) 681-22-08

												.branches-info__item
													.branches-info__text
														|Обслуживание частных лиц
														br
														|Обслуживание премиум-клиентов

												.branches-info__item
													.branches-info__label Время работы
													.branches-info__text
														|пн-пт: 09:00-18:00
														br
														|сб-вс: выходной

													.branches-info__img
														img(src="/assets/img/branch.jpg", alt="")

						.branches__map
							#map.map
							script(src='http://api-maps.yandex.ru/2.1/?lang=ru_RU' type='text/javascript')

	include ../components/rating
