extends ../layout/main

block variables
	- var title = 'Главная';

block content
	section.top-block
		.container.container_indent
			.row
				.col-4
					.top-block__main
						.top-block__info.d-none.d-md-block
							.top-block__title Займы онлайн в&nbsp;Северодвинске
							.top-block__text Деньги без справок и поручителей без залога и переплат

						form.form-calc
							.form-calc__fields
								.form-calc__item
									.range.js-range
										.range__title Сумма кредита

										.range__field
											input.js-slider-range-min#slider-range-sum-credit-val(type="text", placeholder="1000")
											.range__currency &#8381;

										#slider-range-sum-credit.js-slider-range(data-min="500000", data-max="20000000", data-cur-min="2486000", data-step="1", autocomplete="off")

										.range__scale
											.range__min.js-range-min(data-label="&#8381;")
											.range__max.js-range-max(data-label="&#8381;")

								.form-calc__item
									.range.js-range
										.range__title Срок кредита

										.range__field
											input.js-slider-range-min#slider-range-time-credit-val(type="text", placeholder="1")
											.range__currency Мес.

										#slider-range-time-credit.js-slider-range(data-min="1", data-max="7", data-cur-min="2", data-step="1", autocomplete="off")

										.range__scale
											.range__min.js-range-min(data-label="год")
											.range__max.js-range-max(data-label="год")

							.form-calc-res
								.form-calc-res__content
									.form-calc-res__label Всего к&nbsp;возврату
									.form-calc-res__price 5 170 &#8381;

								.form-calc-res__btn
									input.btn(type="submit", value="Продолжить")

				.col-7.offset-1
					.contact
						.map-wrap.js-map-wrap
							.map-wrap__content.js-map-wrap-content
								#map.map
							script(src='http://api-maps.yandex.ru/2.1/?lang=ru_RU' type='text/javascript')
					
						.contact-list
							.contact-list__item
								.contact-list__icon
									+svg('ic-address','ic-address', '16', '20')
								.contact-list__content
									.contact-list__label Главный офис:
									.contact-list__text 164500 Архангельская область, г. Северодвинск, ул. ул. Карла Маркса, 30.
							
							.contact-list__item
								.contact-list__icon
									+svg('ic-arrow-circle','ic-arrow-circle', '19', '20')
								.contact-list__content
									.contact-list__top
										.contact-list__label Как добраться:

										.switch.js-switch
											.switch__text.js-switch-text-left Пешком

											label.switch__label
												input.js-choose-path(type="checkbox")
												.switch__content
													.switch__marker

											.switch__text.js-switch-text-right На машине


									.contact-list__text
										.contact-list__path.js-path-foot Пешком, от остановки Карла маркса ,300 метров во двор. вход через арку
										.contact-list__path.js-path-car(style="display: none;") На машине


