extends ../layout/main

block variables
	- var title = 'Реквизиты';
	- var h1 = 'Реквизиты';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'Реквизиты'},
		];

	+breadcrumbs(breadcrumbs)

block content
	section.mb-indent.report
		.container
			.row
				.col-lg-11
					table.table-site
								tbody
									tr
										td Полное наименование
										td
											b ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ  МИКРОКРЕДИТНАЯ КОМПАНИЯ ГОСТЕВОЙ ЗАЙМ.
									
									tr
										td Дата государственной регистрации
										td
											b 18.10.2012

									tr
										td ИНН/КПП
										td
											b 2902074533/290201001

									tr
										td ОГРН
										td
											b 1122932008066

									tr
										td Регистрационный номер записи в государственном реестре МФО
										td
											b 651303111003243

									tr
										td Банковские реквизиты
										td
											b р/с 40702810004260013687
											br
											b в Архангельском отделении N 8637 ПАО Сбербанк г.Архангельск
											br
											b к/с 30101810100000000601
											br
											b БИК 041117601

									tr
										td Руководитель
										td
											b Беляева Наталья Владимировна

									tr
										td Главный бухгалтер
										td
											b Туркова Наталья Андреевна

									tr
										td Контактный телефон
										td
											b 89116812208 - директор

									tr
										td Юридический адрес
										td
											b 164522, Архангельская обл., г. Северодвинск, ул. Трухинова, д.6а, пом.3-Н
							

	include ../components/rating
