/* footer */
.footer{
	background: var(--footer-bg);
	color: var(--footer-color);
	padding: 80px 0;

	&__content{
		display: flex;
		gap: 84px;
	}

	&__info{
		flex-shrink: 0;
		width: 280px;
	}

	&__text{width: 100%;}
	&__copyright{margin-bottom: 36px;}

	&__logo{
		margin-bottom: 30px;
		img{width: 138px;}
	}

	&__polit{
		font-size: 1.4rem;
		line-height: 1.7;

		p{margin-bottom: 2.4rem;}
	}

	a{color: var(--color-green);}

	.table-site{
		font-size: 1.2rem;
		line-height: 1.8;

		th, td{
			border-color:  rgba(255, 255, 255, 0.2);
			vertical-align: middle;
		}

		td:first-child{width: 25%;}
	}
}

.footer-contacts{
	&__item:not(:last-child){margin-bottom: 36px;}

	&__item{
		display: flex;
		gap: 15px;
	}

	&__icon{
		flex-shrink: 0;
		width: 21px;
		margin-top: -3px;
	}

	&__val{
		font-size: 1.6rem;
		line-height: 1.375;
	}

	a{
		color: #fff;
		transition: color 0.2s ease 0s;

		&:hover{color: #b3ffae;}
	}
}

.footer-phone{font-weight: bold;}

@media (max-width: 1639px) {
	.footer{
		.table-site{
			td:first-child{width: 33%;}
		}
	}
}

@media (max-width: 991px) {
	.footer{
		&__content{display: block;}

		&__info{
			width: 100%;
			margin-bottom: 30px;
		}

		&__info-top{
			display: flex;
			align-items: center;
			gap: 38px;
			margin-bottom: 25px;
		}

		&__logo{margin-bottom: 0;}
		&__copyright{margin-bottom: 0;}
	}
}

@media (max-width: 767px) {
	.footer{
		padding: 50px 0;
		&__logo{max-width: 60px;}
		&__copyright{font-size: 1.4rem;}
	}

	.footer-contacts{
		&__val{font-size: 1.4rem;}
		&__item:not(:last-child){margin-bottom: 28px;}
	}

	.footer-report{
		width: 100vw;
		height: calc(100vh - 60px);
		background: var(--footer-bg);
		color: #fff;
		position: fixed;
		left: 0;
		bottom: 100%;
		padding: 50px 30px;
		transition: bottom 0.3s ease 0s;
		z-index: 990;
		overflow-y: auto;

		&.open{bottom: 0;}

		h1, .h1{color: #fff;}

		.ic-hamburger{
			position: absolute;
			top: 24px;
			right: 30px;

			span:before,
			span:after{
				background: #fff;
			}
		}

		.table-site{
			&,
			tr,
			td{
				display: block;
			}

			line-height: 1.25;

			th,td{border: none;}

			tr{
				border: 1px solid rgba(255, 255, 255, 0.2);
				margin-top: -1px;
				padding: 7px 0;
			}

			td:first-child{
				width: 100%;
				position: relative;

				&::after{
					content: '';
					display: block;
					width: 24px;
					height: 1px;
					background: rgba(255, 255, 255, 0.2);
					position: absolute;
					bottom: 0;
					left: 15px;
				}
			}
		}
	}
}