.header{
	background: #fff;
	box-shadow: 0px 0px 20px rgba(20, 123, 238, 0.4);
	position: relative;

	&__content{
		display: grid;
		align-items: center;
		grid-template-columns: 200px auto;
		gap: 30px;
	}

	&__logo{
		grid-row: span 2;
		padding: 10px 0;
	}

	&__top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		padding-top: 20px;
	}
}

.header-contact{
	display: inline-flex;
	align-items: center;

	&__icon{
		flex-shrink: 0;
		margin-right: 10px;

		.icon{fill: var(--color-primary-dark);}
	}

	&__text{font-size: 1.6rem;}

	&__phone{
		font-weight: bold;
		color: var(--color-text);
		text-decoration: none;
		transition: color 0.2s ease 0s;
		white-space: nowrap;

		&:hover{color: var(--color-primary-dark);}
	}

	&__mail{
		color: var(--color-text);
		text-decoration: none;
		transition: color 0.2s ease 0s;
		white-space: nowrap;

		&:hover{color: var(--color-primary-dark);}
	}
}

@media (max-width: 1639px) {
	.header{
		&__content{grid-template-columns: 120px auto;}
	}
}

@media (max-width: 1239px) {
	.header{
		&__logo{grid-row: auto;}
	}

	.main-menu-wrap{grid-column: span 2;}
}

@media (max-width: 991px) {
	.header{
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		z-index: 1000;

		&__wrap{
			width: 100vw;
			height: calc(100vh - 60px);
			background: #fff;
			overflow-y: auto;
			position: fixed;
			left: 0;
			bottom: 100%;
			transition: bottom 0.3s ease 0s;
			z-index: 990;

			&.open{bottom: 0;}
		}

		&__content{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 0;
		}

		&__top{
			display: block;
			border-top: 1px solid var(--color-border);
			padding-top: 38px;
			padding-bottom: 30px;
		}
	}

	.header-contact{
		align-items: flex-start;
		&__text{line-height: 1.375;}
		&:not(:last-child){margin-bottom: 20px;}
	}

	.main-menu-wrap{
		width: 100%;
		order: -1;
	}

	.main-menu{
		display: block;
		padding: 30px 0 36px;

		&__link{
			padding-bottom: 0;

			&::after{display: none;}
		}

		&__item:not(:last-child){margin-bottom: 25px;}
	}

	.mobile-header{
		background: #fff;
		box-shadow: 0px 0px 10px rgba(20, 123, 238, 0.4);
		position: relative;
		z-index: 1000;
		
		&__content{
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 60px;
			gap: 30px;
			padding: 10px 0;
		}

		&__logo{
			img{
				max-width: 100px;
				max-height: 50px;
			}
		}
	}

	.mob-header-phone{
		display: inline-flex;
		align-items: center;
		gap: 10px;
		margin-left: auto;
	
		&__icon{
			flex-shrink: 0;
	
			.icon{fill: var(--color-primary-dark);}
		}
	
		&__content{
			font-size: 1.6rem;
			font-weight: bold;
	
			a{
				color: var(--color-text);
				text-decoration: none;
				transition: color 0.2s ease 0s;
				white-space: nowrap;
	
				&:hover{color: var(--color-primary-dark);}
			}
		}
	}
}

@media (max-width: 767px) {
	.mobile-header{
		&__logo{
			img{max-width: 60px;}
		}
	}

	.mob-header-phone{
		&__content{font-size: 1.4rem;}
	}
}