:root {
	--color-text: #5b5c71;
	--color-dark: #1f2041;
	--color-primary: #086dfe;
	--color-primary-dark: #4b60a6;
	--color-error: #ff0000;
	--color-border: rgba(73, 96, 165, 0.2);
	--color-border-active: rgba(73, 96, 165, 0.6);
	--color-green: #b3ffae;

	--bg-light-blue: #eff4ff;

	--footer-bg: #4864aa;
	--footer-color: #fff;
}

html,
body{
	background: #fff;
	font-family: $font-site;
	@include font(normal, normal, 10px, 1.5, var(--color-text));
	box-sizing:border-box;
}

body{font-size: 1.6rem;}

body.no-scroll{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
}

img{max-width: 100%;}

a{
	color: var(--color-primary);
	.icon{fill: var(--color-primary);}
}

a:hover{text-decoration: underline;}

p{
	padding: 0;
	margin-bottom: 2rem;
}

ul, ol{margin-bottom: 2rem;}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
{
	line-height: 1.4;
	color: var(--color-text);
}

h1,.h1{
	font-size: 4.6rem;
	font-weight: normal;
	line-height: 1.3;
	margin-bottom: 4rem;
}

h2,.h2{
	font-size: 2.4rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

h3,.h3{
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

h4,.h4,h5,.h5,h6,.h6{
	font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

h1 + p,
.h1 + p,
h1 + ol,
.h1 + ol,
h1 + ul,
.h1 + ul{
	margin-top: -2rem;
}

p + h2,
p + .h2,
ol + h2,
ol + .h2,
ul + h2,
ul + .h2{
	margin-top: 4rem;
}

p + h3,
p + .h3,
ol + h3,
ol + .h3,
ul + h3,
ul + .h3{
	margin-top: 4rem;
}

ul,
ol{
	list-style-position: inside;
	margin-bottom: 2rem;
}

li:not(:last-child){margin-bottom: 10px;}

ol{
	list-style-type: none;
	counter-reset: num;
	margin-left: 21px;

	li{position: relative;}
	li:not(:last-child){margin-bottom: 20px;}

	li::before{
		content: counter(num) '.'; 
		counter-increment: num;
		// display: inline-block;	
		position: absolute;
		top: 0px;
		left: -21px;
		width: 20px;    
		font-weight: bold;
		color: var(--color-primary);
		// text-align: right;
	}
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	margin: 0 auto;
}

main{
	flex: 1 1 auto;
	padding-bottom: 120px;
	width: 100%;
}

.last-elem{margin-bottom: -120px;}

.m-indent{
	margin-top: 120px;
	margin-bottom: 120px;
}

.mt-indent{margin-top: 120px;}
.mb-indent{margin-bottom: 120px;}

.p-indent{
	padding-top: 120px;
	padding-bottom: 120px;
}

.pt-indent{padding-top: 120px;}
.pb-indent{padding-bottom: 120px;}

.btn,
input[type="submit"].btn,
button.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	height: 5.4rem;
	border-radius: 2.7rem;
	border: 1px solid var(--color-primary);
	background: var(--color-primary);
	@include font(none, none, 1.8rem, 1.3, #fff);
	text-decoration: none;
	text-align: center;
	padding: 0 32px;
	cursor: pointer;
	position: relative;
	z-index: 1;
	transition: all 0.2s ease 0s;

	.icon{
		flex-shrink: 0;
		fill: #fff;
		transition: fill 0.2s ease 0s;
	}

	&:hover{
		color: #fff;
		border-color: var(--color-primary-dark);
		box-shadow: inset 0 -5.4em 0 0 var(--color-primary-dark);
		text-decoration: none;

		.icon{fill: #fff;}
	}

	&_border{
		color: var(--color-primary);
		background: transparent;
		.icon{fill: var(--color-primary);}
	}
}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-bold {font-weight: 700 !important;}

.bg-light-blue{background: var(--bg-light-blue);}

.page-info{
	background: #fff;
	padding: 40px;
	border-radius: 20px;
}

@media (max-width: 991px) {
	.wrapper{padding-top: 60px;}
	main{padding-bottom: 80px;}
	.last-elem{margin-bottom: -80px;}

	.m-indent{
		margin-top: 80px;
		margin-bottom: 80px;
	}
	
	.mt-indent{margin-top: 80px;}
	.mb-indent{margin-bottom: 80px;}
	
	.p-indent{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	
	.pt-indent{padding-top: 80px;}
	.pb-indent{padding-bottom: 80px;}
}

@media (max-width: 767px) {
	body{
		font-size: 1.4rem;
		line-height: 1.6;
	}

	body .container{
		max-width: 100%!important;
		padding-left: 30px;
		padding-right: 30px;
	}

	main{padding-bottom: 50px;}
	.last-elem{margin-bottom: -50px;}

	.btn,
	input[type="submit"].btn,
	button.btn{
		height: 4.6rem;
		border-radius: 2.3rem;
		font-size: 1.6rem;
		padding: 0 25px;
	}

	.m-indent{
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.mt-indent{margin-top: 50px;}
	.mb-indent{margin-bottom: 50px;}
	
	.p-indent{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
	.pt-indent{padding-top: 50px;}
	.pb-indent{padding-bottom: 50px;}

	h1,.h1{
		font-size: 2.6rem;
		margin-bottom: 2.8rem;
	}
	
	h2,.h2{
		font-size: 2rem;
	}
	
	h3,.h3{
		font-size: 1.6rem;
	}
	
	h4,.h4,h5,.h5,h6,.h6{
		font-size: 1.4rem;
	}

	h1 + p,
	.h1 + p,
	h1 + ol,
	.h1 + ol,
	h1 + ul,
	.h1 + ul{
		margin-top: 0;
	}

	li:not(:last-child){margin-bottom: 6px;}

	ol{
		li:not(:last-child){margin-bottom: 10px;}
	}

	.page-info{
		border-radius: 0;
		margin: -50px -30px;
		padding: 0 30px 50px;
	}

	.main-top.bg-light-blue{background: #fff;}
}