:root {
	--color-text: #5b5c71;
	--color-primary: #086dfe;
	--color-primary-dark: #4b60a6;
	--color-error: #ff0000;
	--color-border: rgba(73, 96, 165, 0.2);

	--footer-bg: #4864aa;
	--footer-color: #fff;
}

html,
body{
	background: #fff;
	font-family: $font-site;
	@include font(normal, normal, 10px, 1.5, var(--color-text));
	box-sizing:border-box;
}

body{font-size: 1.6rem;}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
}

img{max-width: 100%;}

a{color: var(--color-primary);}
a:hover{text-decoration: underline;}

p{
	padding: 0;
	margin-bottom: 2rem;
}

ul, ol{margin-bottom: 2rem;}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
{
	line-height: 1.4;
	color: var(--color-text);
}

h1,.h1{
	font-size: 4.6rem;
	line-height: 1.3;
	margin-bottom: 4rem;
}

h2,.h2{
	font-size: 2.4rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

h3,.h3{
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

h4,.h4,h5,.h5,h6,.h6{
	font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	margin: 0 auto;
}

main{
	flex: 1 1 auto;
	padding-bottom: 120px;
	width: 100%;
}

.last-elem{margin-bottom: -120px;}

.m-indent{
	margin-top: 120px;
	margin-bottom: 120px;
}

.mt-indent{margin-top: 120px;}
.mb-indent{margin-bottom: 120px;}

.p-indent{
	padding-top: 120px;
	padding-bottom: 120px;
}

.pt-indent{padding-top: 120px;}
.pb-indent{padding-bottom: 120px;}

.btn,
input[type="submit"].btn,
button.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	height: 5.4rem;
	border-radius: 2.7rem;
	border: 1px solid var(--color-primary);
	background: var(--color-primary);
	@include font(none, none, 1.8rem, 1.3, #fff);
	text-decoration: none;
	text-align: center;
	padding: 0 32px;
	cursor: pointer;
	position: relative;
	z-index: 1;
	transition: all 0.2s ease 0s;

	.icon{
		flex-shrink: 0;
		fill: #fff;
		transition: fill 0.2s ease 0s;
	}

	&:hover{
		color: #fff;
		border-color: var(--color-primary-dark);
		box-shadow: inset 0 -5.4em 0 0 var(--color-primary-dark);
		text-decoration: none;

		.icon{fill: #fff;}
	}

	&_border{
		color: var(--color-primary);
		background: transparent;
		.icon{fill: var(--color-primary);}
	}
}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-bold {font-weight: 700 !important;}