header.header
	.header__wrap.js-header-wrap
		.container
			.row
				.col-12
					.header__content
						.header__logo.d-none.d-lg-block
							a(href="/")
								img(src="assets/img/logo.svg", alt="")

						.header__top
							.header-contact.d-none.d-lg-inline-flex.flex-shrink-0
								.header-contact__icon
									+svg('ic-call','ic-call', '20', '20')
									
								.header-contact__content
									.header-contact__text
										a.header-contact__phone(href="tel:+79116812208") 8 (911) 681-22-08

							.header-contact
								.header-contact__icon
									+svg('ic-address','ic-address', '16', '20')

								.header-contact__content
									.header-contact__text 164522, Архангельская обл., г. Северодвинск, ул. Трухинова, д.6а, пом.3-Н

							.header-contact.flex-shrink-0
								.header-contact__icon
									+svg('ic-mail','ic-mail', '21', '16')

								.header-contact__content
									.header-contact__text
										a.header-contact__mail(href="mailto:severtrust@finance.com") severtrust@finance.com

						nav.main-menu-wrap.js-main-menu-wrap
							ul.main-menu
								-
									var list=[
										{text:'Акции', status:'active'},
										{text:'Продукты'},
										{text:'FAQ'},
										{text:'Отделения'},
										{text:'Документы'},
										{text:'Реквизиты'},
										{text:'О компании'},
										{text:'Контакты'},
									]

								each item in list
									li.main-menu__item(class=item.status=='active'?'active':'')
										a(href="#").main-menu__link= item.text

	.mobile-header.d-lg-none
		.container
			.row
				.col-12
					.mobile-header__content
						.mobile-header__logo
							a(href="/")
								img(src="assets/img/logo.svg", alt="")

						.mob-header-phone
							.mob-header-phone__icon
								+svg('ic-call','ic-call', '20', '20')
								
							.mob-header-phone__content
								a(href="tel:+79116812208") 8 (911) 681-22-08

						span.ic-hamburger.js-btn-sidebar
							span